@import '../../../assets/styles/stack.scss';


.activityNav {
   padding-top: rem(110px);
}


.activityNav>.activityNav__menu {
   display: flex;
   align-items: center;
   gap: rem(20px);
   justify-content: space-between;
}

.menu__listItem {
   width: 100%;
}


.cart__button {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: rem(10px);
   box-shadow: 14px 9px 47px 0 rgba(97, 97, 97, 0.25);
   background: $color-white;
   border-radius: 7px;
   padding: 10px 0;
   width: 100%;
   max-width: 320px;
   height: 35px;
   font-size: $font-size-base;
   line-height: 123%;
   font-weight: 500;
   color: $color-black;
}


@media (max-width: 500px) {
   .activityNav {
      padding-top: 30px;
   }
}