@import '../../assets/styles/stack.scss';

.stats {
  display: flex;
}

.stats__container {
  display: flex;
  flex-direction: column;
  gap: rem(120px);
  @include container;
}

@media (max-width: rem(1300px)) {
  .stats__container {
    padding-left: rem(40px);
    padding-right: rem(40px);
    gap: rem(25px);
  }
}


@media  (max-width: rem(1100px)) {
    .stats__container {
      gap: rem(60px);
    }
}