@import '../../assets/styles/stack.scss';

.collections {
  background: $color-explore-background;
  padding-top: rem(100px);
}

.collection__container {
  @include container;
  padding-top: rem(120px);
}

.collection__title {
  text-align: center;
  line-height: 0.99357;
  color: $color-button-bg;
  font-size: $font-size-section-heading;
  font-weight: 600;
}

// .collections__statistic {
//   display: flex;
//   justify-content: space-between;
// }

.collections__table {
  width: 100%;
  padding-top: rem(90px);
  &_menu {
    width: 100%;
    padding-bottom: rem(40px);
    display: flex;
    gap: 14.5rem;
    align-items: center;
  }
  &_item,
  &_title {
    font-size: $font-size-collection-subtitle;
    color: $color-gray-collection;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.01em;
  }
  &_header {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 4.7rem;
  }
}

.collections__table_body {
  display: flex;
  flex-direction: column;
  gap: rem(40px);
  margin-bottom: rem(80px);
}

.collections__table_bodyRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: rem(30px);
  border-bottom: 2px solid $color-table-border-bottom;
}

.collection__table_dataCell {
  display: flex;
  align-items: center;
  gap: rem(40px);
}

.collection__table_dataTitles {
  display: flex;
  flex-direction: column;
  gap: rem(3px);
}

.table__first_title {
  font-size: $font-size-collection-card-title;
  color: $color-button-bg;
  line-height: 1.4;
  font-weight: 500;
}

.table__second_title {
  font-size: $font-size-collection-subtitle;
  color: $color-table-subTitle;
  font-weight: 500;
  line-height: 1.5;
}

.volume,
.rating,
.items,
.owners {
  @include tableRowItem;
}

.percent {
  color: $color-green-light;
  margin-left: -30px;
  font-weight: 500;
  line-height: 1.3;
  letter-spacing: 0.01em;
  font-size: $font-size-collection-card-volume;
}

.explore {
  display: flex;
  align-items: center;
  gap: rem(5px);
  justify-content: flex-end;
  &__button {
    @include exploreButton;
  }
}

@media (max-width: rem(1180px)) {
  .collection__container {
    padding-left: rem(30px);
    padding-right: rem(30px);
  }
}
