@import '../../assets/styles/stack.scss';

.tableContainer {
  width: 100%;
  overflow-x: auto;
  padding: rem(100px) 0;
}

.gridTable {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: rem(35px);
}

.gridHeader,
.gridRow {
  display: grid;
  grid-template-columns: 300px repeat(5, 1fr);
  align-items: center;
}

.gridRow {
  border-bottom: 2px solid $color-table-border-bottom;
}

.tableIcon {
  border-radius: 100%;
  object-fit: none;
  width: 44px;
  height: 44px;
}

.gridHeaderItem,
.gridCell {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: rem(10px);
}

.gridCell {
  font-size: $font-size-collection-subtitle;
  color: $color-button-bg;
  font-weight: 600;
  line-height: 140%;
}

.gridHeaderItem {
  gap: rem(10px);
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 0.01em;
  font-size: $font-size-collection-subtitle;
  color: $color-recent-title;
}

.firstCell {
  gap: rem(25px);
  width: 300px;
  justify-content: start;
}

#first__row {
  justify-content: flex-start;
}

.statsTableDataTitles {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.tableFirstTitle,
.tableSecondTitle {
  margin: 0;
}

.tableFirstTitle {
  font-weight: 500;
  line-height: 140%;
  color: $color-button-bg;
  font-size: $font-size-collection-card-title;
}

.tableSecondTitle {
  font-size: $font-size-card-title;
  line-height: 150%;
  color: $color-table-subTitle;
}

@media (max-width: rem(1140px)) {
  .gridHeaderItem {
    font-size: $font-size-base;
  }
  .icon {
    max-width: 14px;
    max-height: 14px;
  }
  .tableIcon {
    max-width: 55px;
    max-height: 55px;
  }
  .tableFirstTitle {
    font-size: $font-size-subtitle;
  }
  .tableSecondTitle {
    font-size: $font-size-placeholder;
  }
  .gridCell {
    font-size: $font-size-base;
  }
  .gridTable {
    row-gap: rem(20px);
  }
  .firstCell {
    max-width: 200px;
  }
  #first__row {
    max-width: 200px;
  }
  .gridHeader,
  .gridRow {
    grid-template-columns: 200px repeat(5, 1fr);
  }
}

@media (max-width: rem(768px)) {
  .gridHeader,
  .gridRow {
    grid-auto-rows: auto;
  }

  .gridHeaderItem,
  .gridCell {
    justify-content: flex-start;
    padding: rem(5px);
    border-bottom: 1px solid $color-table-border-bottom;
  }

  .firstCell {
    width: auto;
  }

  .gridTable {
    row-gap: rem(15px);
  }
  .gridHeader {
    display: none;
  }
  #items {
    display: none;
  }
}

@media (max-width: rem(600px)) {
  .gridRow {
    grid-template-columns: 200px repeat(3, 1fr);
  }
  #owners {
    display: none;
  }
}
