@import '../../assets/styles/stack.scss';

.notification {
  &__container {
    display: flex;
    align-items: center;
    gap: rem(13px);
    position: absolute;
    left: 120px;
    bottom: 10px;
    border-radius: 13px;
    padding: 11px;
    max-width: 325px;
    height: 83px;
    backdrop-filter: blur(30.380367279052734px);
    box-shadow: 0 19px 28px 0 rgba(70, 70, 70, 0.1);
    background: linear-gradient(
      226deg,
      #fcfcfd 0%,
      rgba(252, 252, 253, 0.6) 100%
    );
  }
}

.notification__dotImage {
  display: flex;
  align-items: center;
  gap: rem(14px);
}

.notification__dot {
  display: block;
  width: 8px;
  height: 8px;
  background: $color-button-bg;
  border-radius: 100%;
}

.notification__imageBlock {
  position: relative;
}

.check__icon {
  position: absolute;
  left: 30px;
}

.notification__bid {
  width: 151px;
  display: flex;
  flex-direction: column;
  &_titles {
    display: flex;
    align-items: center;
    gap: rem(5.7px);
  }
}

.notification__bid_title {
  font-size: $font-size-bid-medium;
  color: $color-notification-title;
  font-weight: 500;
  line-height: 1.71429;
}
.notification__bid_subTitle {
  font-size: $font-size-bid-medium;
  color: $color-button-bg;
  font-weight: 500;
  line-height: 1.71429;
}

.notification__bid_subCapture {
  font-size: $font-size-bid-medium;
  line-height: 1.66667;
  font-weight: 600;
}

.notification__bid_subMark {
  font-size: $font-size-bid-medium;
  color: $color-notification-title;
}

@media (max-width: rem(1200px)) {
  .notification__container {
    max-width: rem(320px);
  }
  .notification__bid {
    max-width: 110px;
  }
  .notification__nftIcon {
    max-width: 50px;
    max-height: 50px;
  }
}


@media (max-width: 575px) {
  .notification__container {
    max-width: 17.5rem;
    left: 100px;
    max-height: 75px;
  }
  .notification__dotImage {
    gap: rem(12px);
  }
  .notification__nftIcon {
    max-width: 40px;
    max-height: 40px;
  }
  .avatar__icon {
    max-width: 35px;
    max-height: 35px;
  }
  .check__icon {
    left: 24px;
    bottom: 23px;
  }
}

@media (max-width: 440px) {
    .notification__container {
      left: 70px;
      bottom: 25px;
    }
}