@import '../styles/reset.scss';
@import '../styles/colors.scss';
@import '../styles/globals.scss';
@import '../styles/functions.scss';
@import '../styles/mixins.scss';

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex: 1 1 auto;
}
