@import "../../assets/styles/stack.scss";

.community {
  background: $color-explore-background;
}

.community__container {
  display: flex;
  justify-content: center;
  align-items: center;
  @include container;
  padding-bottom: rem(200px);
}

.community__firstBlock {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1061px;
  height: auto;
  aspect-ratio: 1 / 1;
  box-sizing: border-box;
  border-radius: 50%;
  border: 2px solid #d2d2d2;
}

.firstBlock__icons {
  position: absolute;
}

.first__icon {
  height: auto;
  position: relative;
  bottom: 440px;
  right: 205px;
}

.second__icon {
  height: auto;
  position: relative;
  bottom: 415px;
  right: -365px;
}

.third__icon {
  height: auto;
  position: relative;
  top: 400px;
  right: 365px;
}

.four__icon {
  height: auto;
  position: relative;
  left: -40px;
  top: 535px;
}

.five__icon {
  position: relative;
  left: 290px;
  top: 360px;
}

.community__secondBlock {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 831px;
  padding: 115px;
  border-radius: 50%;
  border: 2px solid #d2d2d2;
  height: auto;
  aspect-ratio: 1 / 1;
  box-sizing: border-box;
}

.six__icon {
  height: auto;
  position: relative;
  bottom: 210px;
  height: auto;
}

.seven__icon {
  height: auto;
  position: relative;
  bottom: 400px;
  left: 135px;
}

.eight__icon {
  position: relative;
  bottom: -160px;
  left: 355px;
}

.nine__icon {
  height: auto;
  position: relative;
  top: 360px;
  left: 120px;
}

.secondBlock__icons {
  position: absolute;
}

.community__infoBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: rem(31px);
  justify-content: center;
  &_title {
    max-width: 279px;
    text-align: center;
    color: $color-community-title;
    font-size: $font-size-section-heading;
    line-height: 1.20889;
    text-transform: capitalize;
    font-weight: 700;
  }
  &_titleMark {
    color: $color-gray-light;
  }
  &_subTitle {
    line-height: 1.77778;
    text-align: center;
    color: $color-community-title;
    opacity: 0.7;
  }
  &_button {
    margin-top: rem(12px);
    padding: 18px 22px;
    background-color: $color-button-bg;
    font-size: $font-size-card-subtitle;
    font-weight: 500;
    line-height: 1.25;
    text-transform: capitalize;
    text-align: center;
    color: $color-white;
    border-radius: rem(12px);
  }
}

@media (max-width: 1200px) {
  .community__firstBlock {
    max-width: 700px;
  }

  .community__secondBlock {
    max-width: 500px;
    padding: 90px;
  }

  .first__icon {
    bottom: 250px;
    right: 155px;
  }
  .second__icon {
    bottom: 190px;
    right: -330px;
  }
  .third__icon {
    top: 285px;
    right: 215px;
  }
  .four__icon {
    left: -50px;
    top: 355px;
  }
  .five__icon {
    left: 170px;
    top: 220px;
  }
  .six__icon {
    bottom: 160px;
    right: 120px;
  }
  .seven__icon {
    bottom: 225px;
  }
  .eight__icon {
    bottom: 30px;
    left: 220px;
  }
  .nine__icon {
    top: 155px;
  }
}

@media (max-width: 992px) {
  .first__icon {
    max-width: 45px;
    max-height: 45px;
    right: 145px;
  }
  .second__icon {
    right: -345px;
  }
  .third__icon {
    top: 275px;
  }
  .four__icon {
    top: 350px;
  }
  .seven__icon {
    bottom: 280px;
  }
  .six__icon {
    bottom: 130px;
    right: 195px;
  }
  .eight__icon {
    bottom: 0;
    left: 272px;
  }
  .nine__icon {
    top: 280px;
    left: 20px;
  }
  .community__infoBlock_title {
    font-size: $font-size-media-title;
  }
  .community__infoBlock_subTitle {
    font-size: $font-size-card-subtitle;
    line-height: 1.5;
  }
  .community__infoBlock_button {
    max-width: 144px;
    font-size: $font-size-subtitle-small;
    padding: 14px;
  }
}

@media (max-width: 992px) {
  .community__firstBlock {
    max-width: 700px;
  }

  .community__secondBlock {
    max-width: 600px;
    padding: 70px;
  }
}

@media (max-width: 868px) {
  .community__firstBlock {
    max-width: 500px;
  }

  .community__secondBlock {
    max-width: 400px;
    padding: 50px;
  }
  .first__icon {
    right: 35px;
    bottom: 226px;
    max-width: 35px;
    max-height: 35px;
  }
  .second__icon {
    max-width: 35px;
    max-height: 35px;
    right: -245px;
    bottom: 135px;
  }
  .third__icon {
    max-width: 30px;
    max-height: 30px;
    top: 120px;
    right: 220px;
  }
  .four__icon {
    max-width: 35px;
    max-height: 35px;
    top: 248px;
  }
  .five__icon {
    max-width: 35px;
    max-height: 35px;
    top: 145px;
    z-index: 50;
    left: -200px;
  }
  .six__icon {
    max-width: 35px;
    max-height: 35px;
    bottom: 115px;
    right: 170px;
  }
  .seven__icon {
    max-width: 35px;
    max-height: 35px;
    bottom: 221px;
  }
  .eight__icon {
    max-width: 35px;
    max-height: 35px;
    left: 180px;
  }
  .nine__icon {
    max-width: 35px;
    max-height: 35px;
    top: 185px;
  }
}

@media (max-width: 690px) {
  .community__container {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 576px) {
  .community__firstBlock {
    max-width: 300px;
  }

  .community__secondBlock {
    max-width: 250px;
    padding: 30px;
  }
}

@media (max-width: 375px) {
  .community__firstBlock {
    max-width: 200px;
  }

  .community__secondBlock {
    max-width: 150px;
    padding: 15px;
  }
}
