@import '../../assets/styles/stack.scss';

.sell {
  background: $color-explore-background;
}

.sell__container {
  display: flex;
  flex-direction: column;
  gap: rem(153px);
  @include container;
  padding-top: rem(150px);
}

.sell__title {
  text-align: center;
  line-height: 67%;
  font-weight: 600;
  color: $color-button-bg;
  font-size: $font-size-section-heading;
}

.sell__block {
  display: flex;
  gap: rem(60px);
  justify-content: space-between;
}

@media (max-width: 1200px) {
  .sell__container {
    padding-top: rem(100px);
    gap: rem(70px);
  }
}

@media (max-width: rem(890px)) {
  .sell__block {
    flex-direction: column-reverse;
    align-items: center;
  }
  .sell__container {
    padding-left: rem(30px);
    padding-right: rem(30px);
  }
}


@media (max-width: rem(520px)) {
  .sell__container {
    padding-top: rem(50px);
  }
  .sell__title {
    font-size: $font-size-collection-card-title;
  }
}