@import '../../assets/styles/stack.scss';

.heroTrust {
  display: flex;
  align-items: center;
  gap: rem(13px);
}

.heroTrust__title {
  display: flex;
  align-items: center;
  gap: rem(3px);
}


.stars__block {
  position: relative;
  top: 2.5px;
  display: flex;
  align-items: center;
  gap: rem(3px);
}

.star__icon {
  max-width: 16px;
  max-height: 16px;
}

.heroTrust__mark {
  font-size: $font-size-subtitle-small;
  color: $color-stats-title;
  font-weight: 500;
  font-size: 12px;
  line-height: 150%;
  opacity: 0.7;
  position: relative;
  top: 3.5px;
}
