.swiper {
   width: 100%;
   max-width: 100%;
   height: 320px;
   cursor: grab;
   display: block;
   list-style: none;
   margin-left: auto;
   margin-right: auto;
   overflow: hidden;
   padding: 0;
   position: relative;
   z-index: 1;

   &-wrapper {
      gap: 40px;

      @media (max-width: 1200px) {
         gap: 20px;
         max-height: 290px;
      }
   }

   &-slide {
      flex: 0 0 auto;
      width: 100%;
      max-width: 270px;
      margin-right: 0 !important;

      @media (max-width: 1200px) {
         max-width: 200px;
      }
   }
}
