@import '../../../assets/styles/stack.scss';


.activityItem {
   display: flex;
   flex-direction: column
}

;

.activityItem__container {
   display: flex;
   flex-direction: column;
   gap: rem(45px);
}

.firstActivityBlock,
.secondActivityBlock {
   display: flex;
   flex-direction: column;
   gap: rem(20px);
   padding: 15px 25px;
   width: 100%;
   max-width: 674px;
   border-radius: 12px;
   background: $color-white;
}

.top__block {
   display: flex;
   justify-content: space-between;
   padding-bottom: rem(17px);
   border-bottom: 1.5px solid $color-subTitle-gray;
}

.titlesBlock {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
}

.bottom__block {
   display: flex;
   justify-content: space-between;
}

.imageTitles__subBlock {
   display: flex;
   align-items: center;
   gap: rem(15px);
}

.item__title {
   font-weight: 600;
   line-height: 157%;
   text-align: center;
   color: $color-black;
   font-size: $font-size-base;
}

.item__subTitle {
   display: flex;
   align-items: center;
   gap: rem(5px);
   font-size: $font-size-subtitle-small;
}




@media (max-width: 500px) {
   .iconPrimary {
      max-width: 45px;
      max-height: 45px;
   }

   .firstActivityBlock {
      padding: 10px;
   }
}