@import '../../assets/styles/stack.scss';

.hero {
  display: flex;
}

.hero__container {
  display: flex;
  justify-content: space-between;
  gap: rem(50px);
  margin-top: rem(111px);
  @include heroContainer;
  margin-top: rem(50px);
}

.hero__information {
  width: 100%;
  max-width: rem(600px);
  display: flex;
  flex-direction: column;
  gap: rem(50px);
}

.hero__informationTitles {
  display: flex;
  flex-direction: column;
  gap: rem(18px);
}

.hero__title {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: $font-size-heading;
  line-height: 1.2;
  letter-spacing: -0.04em;
  text-transform: capitalize;
  color: $color-button-bg;
  position: relative;
  &::before {
    position: absolute;
    content: '';
    width: 195px;
    height: 1px;
    background: $color-border-top-dark;
    opacity: 0.2;
  }
}

.hero__subTitle {
  font-size: $font-size-subtitle;
  color: $color-gray-subtitle;
  font-family: 'Inter', sans-serif;
  line-height: 1.55556;
  text-align: justify;
}

.hero__subTitle_mark {
  font-weight: 600;
  color: $color-button-bg;
}

.hero__information__buttons {
  display: flex;
  align-items: center;
  gap: rem(26px);
}

.explore__button {
  @include button(179px);
  position: relative;
  background: linear-gradient(
    to top,
    $color-gray-light,
    $color-bestSellers-subTitle
  );
  color: ghostwhite;
  transition: all 0.4s cubic-bezier(0.3, 1, 0.8, 1);

  svg {
    width: 1.2em;
    height: 1.2em;
    margin-right: 0.5em;
  }

  span {
    position: relative;
    z-index: 10;
    transition: color 0.4s;
    display: inline-flex;
    align-items: center;
    padding: 0.8em 1.2em 0.8em 1.05em;
  }

  &::before,
  &::after {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    content: '';
  }

  &::before {
    background: rgb(0, 0, 0);
    transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
  }

  &:hover::before {
    transform: translate3d(0, -100%, 0);
  }

  &:hover {
    color: $color-button-bg;
    scale: 1.1;
    box-shadow: 0 0px 20px rgba(193, 163, 98, 0.4);
  }

  &:active {
    scale: 1;
  }
}

.create__button {
  @include secondaryButton;
  font-weight: 600;
}

.features {
  margin-top: rem(35px);
  display: flex;
  align-items: center;
  gap: rem(90px);
  &__titles {
    display: flex;
    flex-direction: column;
    gap: rem(6px);
  }
}

.views__title {
  line-height: 1.25;
  text-align: center;
  font-weight: 600;
  font-size: $font-size-subtitle-large;
}

.subTitle {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  line-height: 1.5;
  color: $color-gray-light-alt;
}

.heroGallery {
  display: flex;
  justify-content: space-between;
  gap: rem(20px);
}

.arrow__icon {
  position: relative;
  bottom: 50px;
  object-fit: cover;
  height: auto;
}

.heroNft__banner {
  width: 100%;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: rem(50px);
}

.nft__image {
  width: 100%;
  object-fit: cover;
  height: auto;
}
.image__container {
  width: 100%;
  max-width: 310px;
}

.secondaryImage {
  width: 100%;
  object-fit: cover;
  height: auto;
  position: relative;
  bottom: 160px;
}

.subGallery__items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sliderButtons {
  padding: rem(22px);
  max-width: 170px;
  height: 70px;
  display: flex;
  gap: rem(40px);
  justify-content: center;
  align-items: center;
  border-radius: rem(20px);
  background: $color-slider-buttons-background;
  box-shadow: 0 43px 34px -26px rgba(15, 15, 15, 0.12);
}

.sliderButtons__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider__decoration {
  display: block;
  border-radius: 2px;
  width: 2px;
  height: 25px;
  background: $color-gray-medium;
}

.prev__button,
.next__button {
  background: transparent;
}

.dots__decoration {
  max-width: 100px;
  width: 100%;
  height: auto;
  object-fit: cover;
}

@media (min-width: 470px) {
  .title__decoration {
    display: none;
  }
}

@media (max-width: rem(1250px)) {
  .image__container {
    max-width: 200px;
  }
};

@media (max-width: rem(1110px)) {
  .dots__decoration {
    position: relative;
    left: -5px;
  }
  .arrow__icon {
    position: relative;
    bottom: 70px;
    right: 20px;
    max-width: 100px;
    max-height: 80px;
  }
  .hero__title {
    font-size: $font-size-media-hero-heading;
    max-width: 420px;
    &::before {
      top: -2px;
    }
  }
  .hero__subTitle {
    font-size: $font-size-base;
    max-width: 400px;
  }
  .explore__button,
  .create__button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: $font-size-base;
    max-height: 51px;
  }
}

@media (max-width: rem(992px)) {
  .sliderButtons {
    max-width: 115px;
    padding: 13px;
    max-height: 50px;
    gap: 1.5rem;
    align-items: normal;
    justify-content: space-between;
  }
  .prev__button,
  .next__button {
    max-width: 18px;
    max-height: 18px;
  }

  .hero {
    max-height: 500px;
  }
  .hero__container {
    padding-left: rem(69px);
    gap: rem(34px);
  }
  .hero__information {
    max-width: 403px;
    gap: rem(31px);
  }
  .hero__informationTitles {
    gap: rem(12px);
  }
  .hero__title {
    font-size: $font-size-hero-title;
  }
  .hero__subTitle {
    font-size: $font-size-subtitle-small;
    max-width: 280px;
  }
  .explore__button {
    padding: 12px 24px;
    justify-content: center;
    font-size: $font-size-explore-button-tablet;
    max-width: 127px;
    max-height: 42px;
  }
  .create__button {
    padding: 12px 18px;
    max-width: 100px;
    max-height: 42px;
    justify-content: center;
    font-size: $font-size-explore-button-tablet;
  }
  .features {
    margin-top: rem(18px);
    gap: rem(46px);
  }
  .views__title {
    font-size: $font-size-features-title-tablet;
  }
  .subTitle {
    font-size: $font-size-explore-button-tablet;
  }
  .features__titles {
    gap: rem(3px);
  }
  .dots__decoration {
    left: -55px;
  }
  .arrow__icon {
    max-width: 90px;
    max-height: 90px;
    right: 20px;
  }
  .secondaryImage {
    max-width: 300px;
  }
}

@include onTabletMedium {
  .hero__container {
    padding-left: 40px;
  }
  .dots__decoration {
    max-width: 75px;
    left: -30px;
  }
  .secondaryImage {
    bottom: 115px;
  }
  .arrow__icon {
    right: 35px;
  }
}

@include onMobileLarge {
  .hero__container {
    margin-top: 1rem;
    flex-direction: column;
  }
  .hero__title {
    font-size: $font-size-subtitle-large;
  }
  .features {
    display: none;
  }
  .nft__image {
    max-width: 80%;
  }
  .secondaryImage {
    bottom: 215px;
    left: 10px;
  }
  .dots__decoration {
    bottom: 100px;
    left: 10px;
  }
  .arrow__icon {
    right: 50px;
  }
}

@include onMobile {
  .hero__container {
    padding-left: 30px;
  }

  .hero__information {
    align-items: center;
  }
  .hero__informationTitles {
    align-items: center;
  }
  .hero__title {
    text-align: center;
    max-width: 310px;
    font-size: $font-size-media-hero-heading;
  }
  .hero__title::before {
    max-width: 30px;
    left: 70px;
    top: 0px;
  }
  .title__decoration {
    display: block;
    top: -5px;
    left: 105px;
    color: $color-title-decoration;
    opacity: 0.5;
    font-size: $font-size-explore-button-tablet;
    position: absolute;
    line-height: 120%;
    letter-spacing: 0.13em;
    font-weight: 600;
  }
  .hero__subTitle {
    text-align: center;
    max-width: 315px;
  }
  .heroNft__banner {
    padding-left: 20px;
    gap: rem(10px);
  }
  .nft__image {
    max-width: 420px;
    max-height: 275px;
  }
  .dots__decoration {
    max-width: 65px;
    max-height: 215px;
    bottom: 7px;
    left: 0px;
  }
  .arrow__icon {
    max-width: 60px;
    max-height: 60px;
    right: -20px;
  }
  .secondaryImage {
    max-height: 320px;
    bottom: 145px;
    left: 0px;
  }
  .hero__information__buttons {
    gap: rem(35px);
  }
  .explore__button {
    padding: 15px 21px;
    font-size: $font-size-subtitle-small;
  }
  .create__button {
    max-width: 127px;
    padding-left: 21px;
    padding-right: 21px;
    font-size: $font-size-subtitle-small;
  }
}

@media (max-width: 321px) {
  .hero > .hero__container {
    padding-left: 0;
  }
  .hero__subTitle {
    max-width: 280px;
  }
  .arrow__icon {
    right: 10px;
  }
}
