@import '../../assets/styles/stack.scss';

.sellCreate {
  width: 100%;
  max-width: rem(702px);
  display: flex;
  flex-direction: column;
  gap: rem(35px);
  margin-bottom: rem(210px);
}

.name,
.description,
.royalty,
.size,
.tags,
.price,
.stock {
  font-weight: 600;
  line-height: 125%;
  color: $color-black;
  font-size: $font-size-create-subtitle;
  display: flex;
  gap: rem(25px);
  flex-direction: column;
}

.artwork__input {
  background: transparent;
  &::placeholder {
    line-height: 125%;
    font-size: $font-size-placeholder;
    color: $color-input-placeholder-create;
  }
}

.inputBlock,
.AreaBlock,
.tagsBlock {
  cursor: pointer;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-radius: 12px;
  background: $color-input-background-create;
  padding: rem(25px);
  transition: border 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s;
  &:focus-within {
    border: 2px solid $color-button-bg;
  }
}

.AreaBlock {
  align-items: flex-start;
  height: rem(165px);
  &:focus-within {
    border: 2px solid $color-button-bg;
  }
}

.create__textArea {
  resize: none;
  width: 100%;
  background: transparent;
  border-radius: rem(12px);
  &::placeholder {
    line-height: 125%;
    font-size: $font-size-placeholder;
    color: $color-input-placeholder-create;
  }
}

.royalty,
.size {
  width: 50%;
  max-width: 150px;
}

.size__input {
  width: 100%;
  max-width: 492px;
  height: 63px;
  background: $color-input-background-create;
  border-radius: rem(12px);
  padding: rem(20px);
}

.tags__input {
  background: transparent;
  line-height: 125%;
  width: 100%;
  max-width: 250px;
}

.royaltySizeBlock {
  display: flex;
  align-items: center;
  gap: rem(35px);
}

.select {
  width: 100%;
  max-width: 146px;
  height: 63px;
  border-radius: rem(12px);
  background: $color-input-background-create;
  line-height: 125%;
  font-size: $font-size-placeholder;
  color: $color-input-placeholder-create;
  letter-spacing: -0.02em;
  padding: rem(20px);
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  position: relative;
}

.price {
  width: 100%;
}

.stockBlock {
  width: 100%;
  max-width: 200px;
}

.price__select {
  width: 100%;
  max-width: 200px;
  height: 63px;
  border-radius: rem(12px);
  background: $color-input-background-create;
  line-height: 125%;
  font-size: $font-size-placeholder;
  color: $color-input-placeholder-create;
  letter-spacing: -0.02em;
  padding: rem(20px);
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  position: relative;
}

.select__container {
  width: 100%;
  max-width: 146px;
  position: relative;
}

.select__container::after {
  content: '';
  position: absolute;
  left: 115px;
  top: 50%;
  transform: translateY(-50%);
  background-image: url('/images/inputs/arrow.svg');
  background-size: 10px 15px;
  width: 10px;
  height: 15px;
  background-repeat: no-repeat;
  pointer-events: none;
}

.select__priceContainer {
  width: 100%;
  max-width: 100px;
  position: relative;
}

.select__priceContainer::after {
  content: '';
  position: absolute;
  left: 60px;
  top: 50%;
  transform: translateY(-50%);
  background-image: url('/images/inputs/arrow.svg');
  background-size: 10px 15px;
  width: 10px;
  height: 15px;
  background-repeat: no-repeat;
  pointer-events: none;
}

.option {
  line-height: 125%;
  font-size: $font-size-placeholder;
  color: $color-input-placeholder-create;
  letter-spacing: -0.02em;
}

.selectInput__block {
  width: 100%;
  max-width: 492px;
  border-radius: rem(12px);
  background: $color-input-background-create;
  display: flex;
  align-items: center;
}

.select__priceContainer::before {
  position: absolute;
  content: '';
  height: 39px;
  width: 2px;
  background: $color-border-decoration;
  display: block;
  z-index: 55;
  left: 95px;
  top: 12%;
}

.priceStockBlock {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: rem(40px);
  width: 100%;
}

.stock__selectContainer {
  position: relative;
}

.stock__selectContainer::after {
  content: '';
  position: absolute;
  left: 180px;
  top: 50%;
  transform: translateY(-50%);
  background-image: url('/images/inputs/arrow.svg');
  background-size: 10px 15px;
  width: 10px;
  height: 15px;
  background-repeat: no-repeat;
  pointer-events: none;
}

.stock__select {
  width: 100%;
  max-width: 200px;
  height: 63px;
  border-radius: rem(12px);
  background: $color-input-background-create;
  line-height: 125%;
  font-size: $font-size-placeholder;
  color: $color-input-placeholder-create;
  letter-spacing: -0.02em;
  padding: rem(20px);
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  position: relative;
}

.create__button {
  width: 100%;
  max-width: 100%;
  height: 40px;
  border-radius: rem(12px);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(15, 15, 15);
  border: none;
  color: white;
  font-weight: 600;
  gap: 8px;
  cursor: pointer;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.103);
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease-in-out;

  .svgIcon {
    width: 16px;

    path {
      fill: white;
    }
  }

  &::before {
    width: 100%;
    height: 100%;
    position: absolute;
    content: '';
    background-color: white;
    border-radius: rem(12px);
    border-radius: 50%;
    left: -100%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: transform 0.3s ease-in-out;
    mix-blend-mode: difference;
  }

  &:hover::before {
    transform: translate(100%, -50%) scale(1.1);
    border-radius: 0;
  }

  &:active {
    transform: translate(5px, 5px);
    transition-duration: 0.3s;
  }
}

@media (max-width: rem(1200px)) {
  .name,
  .description,
  .royalty,
  .size,
  .tags,
  .price,
  .stock {
    font-size: $font-size-placeholder;
  }
  .inputBlock,
  .AreaBlock,
  .tagsBlock {
    padding: 16px 20px;
  }
  .priceStockBlock {
    flex-direction: column;
    align-items: flex-start;
  }
  .stock__select,
  .select,
  .size__input {
    max-height: 50px;
  }
  .sellCreate {
    margin-bottom: rem(80px);
  }
}

@media (max-width: rem(890px)) {
  .block {
    flex-direction: column;
  }
  .royaltySizeBlock {
    flex-direction: column;
    align-items: start;
  }
}
