@import "../../../assets/styles/stack.scss";

.modal__container {
   width: 100%;
   height: 100%;
   position: fixed;
   display: flex;
   justify-content: center;
   align-items: center;
   top: 0;
   left: 0;
   z-index: 990;
   backdrop-filter: blur(20.184661865234375px);
   background: rgba(239, 239, 239, 0.25);
}

.fixed__modal {
   display: flex;
   justify-content: center;
   align-items: flex-end;
}
