@import '../../assets/styles/stack.scss';

.historyBid {
  width: 100%;
  max-width: 450px;
  height: 450px;
  border-radius: 15px;
  background: $color-white;
  box-shadow: 17px 17px 58px 0 rgba(0, 0, 0, 0.12);
}

.historyBid__container {
  padding: 26px 30px;
  display: flex;
  flex-direction: column;
  gap: rem(35px);
}

.bid__titles {
  display: flex;
  flex-direction: column;
  gap: rem(5px);
}

.bid__title {
  line-height: 144%;
  color: $color-black;
  font-weight: 600;
  font-size: $font-size-placeholder;
}

.bid__subTitle {
  line-height: 123%;
  color: $color-likes-counter;
  font-size: $font-size-subtitle-small;
}

.bidList {
  display: flex;
  flex-direction: column;
  gap: rem(20px);
  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: rem(12px);
    box-shadow: -4px 9px 15px 0 rgba(16, 16, 16, 0.15);
    border-radius: rem(10px);
    background: $color-white;
    padding: rem(15px);
  }
}

.bidList__flex {
  display: flex;
  align-items: center;
  gap: rem(20px);
}

.image__block {
  position: relative;
}

.check__icon {
  position: absolute;
  left: 35px;
}

.item__titles {
  display: flex;
  flex-direction: column;
  gap: rem(3px);
  margin-right: rem(40px);
  &_title {
    line-height: 153%;
    font-weight: 500;
    color: $color-black;
    font-size: $font-size-base;
  }
  &_subTitle {
    font-size: $font-size-subtitle-small;
    line-height: 123%;
    color: $color-current-bid-title;
  }
}

.ratingBlock {
  display: flex;
  align-items: center;
  gap: rem(5px);
}

.rating {
  font-weight: 500;
  font-size: $font-size-placeholder;
}

.your__bid {
  display: flex;
  flex-direction: column;
  gap: rem(10px);
  &_title {
    font-size: $font-size-placeholder;
    font-weight: 600;
    line-height: 144%;
  }
  &_button {
    width: 100%;
    height: 53px;
    border-radius: rem(14px);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: rem(7px);
    background: $color-button-bg;
    color: $color-white;
  }
}

.select__container {
  width: 100%;
  border: 0.85px solid $color-button-bg;
  border-radius: rem(18px);
  position: relative;
}

.select {
  border-radius: 14px 0 0 14px;
  padding: 18px 28px;
  font-weight: 600;
  width: 118px;
  height: 53px;
  background-color: $color-button-bg;
  color: $color-white;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
}

.select__container::after {
  content: '';
  position: absolute;
  left: 65px;
  top: 50%;
  transform: translateY(-50%);
  background-image: url('/images/historyBid/select-check.svg');
  background-size: 10px 15px;
  width: 10px;
  height: 15px;
  background-repeat: no-repeat;
  pointer-events: none;
}

@media (max-width: 1200px) {
  .historyBid {
    max-width: 350px;
  }
}

@media (max-width: 930px) {
  .historyBid {
    max-width: 100%;
  }
}

@media (max-width: 375px) {
  .historyBid  {
    min-height: 500px;
  }
  .historyBid__container {
    gap: rem(45px);
  }
}
