@import '../../assets/styles/stack.scss';

.tableContainer {
  overflow-x: auto;
  margin-bottom: rem(20px);
}

.statsTable {
  width: 100%;
  border-collapse: collapse;
}

.tableBody {
  display: flex;
  flex-direction: column;
  gap: rem(30px);
  margin-bottom: rem(200px);
}

.statsTableRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1.5px solid $color-table-border-bottom;
  padding: rem(20px) 0;
  flex-wrap: wrap;
}

.statsTableDataCell {
  display: flex;
  align-items: center;
  gap: rem(10px);
  flex: 1;
  min-width: rem(100px);
}

.statsTableDataTitles {
  display: flex;
  flex-direction: column;
  gap: rem(3px);
}

.tableIcon {
  width: 85px;
  height: 85px;
}

.tableFirstTitle {
  max-width: 150px;
  color: $color-button-bg;
  font-size: $font-size-detail-title;
  font-weight: 500;
  line-height: 140%;
}

.tableSecondTitle {
  line-height: 150%;
  color: $color-table-subTitle;
  font-size: $font-size-create-subtitle;
}

.volume,
.rating,
.owners,
.items,
.percent {
  color: $color-button-bg;
  font-weight: 600;
  font-size: $font-size-create-subtitle;
  line-height: 140%;
  text-align: center;
  flex: 1;
  min-width: rem(50px);
}

.percent {
  color: $color-dark-green;
}

@media (max-width: rem(1300px)) {
  .tableIcon {
    width: 55px;
    height: 55px;
  }
  .tableFirstTitle {
    font-size: $font-size-subtitle;
  }
  .tableSecondTitle {
    font-size: $font-size-placeholder;
  }
  .volume,
  .rating,
  .owners,
  .items,
  .percent {
    font-size: $font-size-base;
  }
}

@media (max-width: rem(768px)) {
  .tableIcon {
    width: 45px;
    height: 45px;
  }
  .tableFirstTitle {
    font-size: $font-size-placeholder;
  }
  .tableSecondTitle {
    font-size: $font-size-placeholder;
  }
  .volume,
  .rating,
  .owners,
  .items,
  .percent {
    font-size: $font-size-subtitle-small;
    min-width: rem(40px);
  }
}

@media (max-width: rem(320px)) {
  .tableIcon {
    width: 35px;
    height: 35px;
  }
  .tableFirstTitle,
  .tableSecondTitle {
    font-size: $font-size-subtitle-small;
    max-width: 100px;
  }
  .volume,
  .rating,
  .owners,
  .items,
  .percent {
    font-size: $font-size-subtitle-small;
    min-width: rem(30px);
  }
  .statsTableRow {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding: rem(5px) 0;
    gap: rem(5px);
  }
  .statsTableDataCell {
    gap: rem(5px);
  }
}
