@import "../../assets/styles/stack.scss";

.asked {
  background: $color-explore-background;
}

.asked__container {
  @include container;
  display: flex;
  flex-direction: column;
  padding-left: 0;
  padding-right: 0;
  gap: rem(78px);
  padding-left: rem(95px);
  padding-right: rem(95px);
  padding-bottom: rem(214px);
}

.asked__title {
  max-width: 442px;
  margin: 0 auto;
  text-align: center;
  line-height: 1.4;
  font-weight: 600;
  font-size: $font-size-section-heading;
  &_mark {
    color: $color-gray-light;
  }
}

.asked__list {
  display: flex;
  flex-direction: column;
  gap: rem(32px);
  &_item {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: $color-asked-list-title;
    font-size: $font-size-list-title;
    line-height: 2.52982;
    font-weight: 600;
    padding-bottom: rem(17px);
    border-bottom: 1.15px solid #adadad;
  }
}

.asked__list_mark {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  background: $color-button-bg;
  border-radius: 100%;
}

@media (max-width: 1200px) {
  .asked__container {
    padding-left: 4rem;
    padding-right: 4rem;
  }
  .asked__title {
    font-size: $font-size-subtitle-large;
  }
  .asked__list > .asked__list_item {
    font-size: $font-size-card-title;
  }
  .asked__list_mark {
    max-width: 25px;
    max-height: 25px;
  }
}

@media (max-width: 992px) {
  .asked__container {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

@include onTabletMedium {
  .asked__container {
    padding-bottom: rem(100px);
  }
}

@media (max-width: 768px) {
  .asked__container {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media (max-width: 576px) {
  .asked__container {
    padding-left: 30px;
    padding-right: 30px;
  }
  .asked__list_item {
    padding-bottom: 0.7rem;
  }
}
