@import '../../assets/styles/stack.scss';

.cards__container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 67px 40px;
  justify-items: center;
  padding-top: rem(120px);
  padding-bottom: rem(120px);
}

.card {
  display: flex;
  flex-direction: column;
  width: 282px;
  height: 403px;
  border-radius: rem(24px);
  box-shadow:
    rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  background: $color-white;
  padding: rem(15px);

  @media (max-width: 1100px) {
    max-width: 240px;
    max-height: 350px;
  }
}

.card__image {
  object-fit: cover;
  object-position: center;
  border-radius: 24px;
  cursor: pointer;
  transition: transform 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s;
  &:hover {
    transform: scale(0.9);
  }

  @media (max-width: 1100px) {
    max-width: 220px;
    max-height: 220px;
  }
}

.card__title {
  font-size: $font-size-card-title;
  color: $color-button-bg;
  font-weight: 600;
  line-height: 140%;

  @media (max-width: 1100px) {
    font-size: $font-size-subtitle;
  }
}

.card__cardButton {
  @include button(179px);
  max-width: 121px;
  padding-left: 24px;
  padding-right: 24px;
  height: 51px;
  background: $color-button-bg;
  color: $color-white;
}

.image__block {
  display: flex;
  justify-content: center;
  position: relative;
}

.image__block_time {
  font-size: $font-size-subtitle-small;
  line-height: 150%;
  letter-spacing: 0.01em;
  color: $color-white;
  font-weight: 500;
  padding: 7px 12px;
  border-radius: 10px;
  border: 1.18px solid rgba(28, 29, 32, 0.08);
  backdrop-filter: blur(4.72005033493042px);
  box-shadow: 0 5px 14px 0 rgba(28, 29, 32, 0.08);
  background: rgba(28, 29, 32, 0.35);
  display: block;
  top: 10px;
  right: 10px;
  position: absolute;
}

.card__image {
  object-fit: cover;
  object-position: center;
  border-radius: 24px;
  cursor: pointer;
  transition: transform 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s;
  &:hover {
    transform: scale(0.9);
  }
}

.card__titles {
  padding-top: rem(18px);
  padding-bottom: rem(14px);
  display: flex;
}

.card__title {
  font-size: $font-size-card-title;
  color: $color-button-bg;
  font-weight: 600;
  line-height: 140%;
}

.card__information {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card__information_titles {
  display: flex;
  flex-direction: column;
  gap: rem(5px);
}

.card__subTitle {
  line-height: 1.5;
  letter-spacing: 0.01em;
  color: $color-card-subTitle;
}

.card__rating {
  display: flex;
  align-items: center;
  gap: rem(7px);
  color: $color-button-bg;
  line-height: 1.5;
  font-weight: 600;
}

.nextIcon {
  width: 15px !important;
  opacity: 0 !important;
  transition:
    opacity 0.3s ease,
    transform 0.3s ease !important;
  transform: translateX(-10px) !important;
}

.card__cardButton {
  @include button(179px);
  max-width: 145px;
  padding: rem(15px) rem(24px);
  font-size: $font-size-card-subtitle;
  height: 51px;
  transition: background 1s cubic-bezier(0.19, 1, 0.22, 1) 0s;
  &:hover {
    background: $color-table-subTitle;
  }
}

.card__link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: rem(10px);
  color: $color-white;
  transition: 0.5s ease-in-out 0s;
  &:hover {
    .nextIcon {
      opacity: 1 !important;
      transform: translateX(0) !important;
    }
  }
}

@media (max-width: 1350px) {
  .cards__container {
    grid-template-columns: repeat(3, 1fr);
    gap: 50px 30px;
  }
}

@media (max-width: 1200px) {
  .card {
    max-width: 255px;
    max-height: 375px;
  }
  .card__image {
    max-width: 230px;
    max-height: 230px;
  }
  .card__link {
    gap: 0;
  }
  .card__cardButton {
    max-width: 125px;
  }
}

@media (max-width: 1100px) {
  .cards__container {
    grid-template-columns: repeat(3, 1fr);
    gap: 40px 20px;
  }
  .card__cardButton {
    max-height: 45px;
    padding: rem(10px);
    max-width: 110px;
    font-size: $font-size-card-subtitle;
  }
  .card__title {
    font-size: $font-size-link;
  }
  .card {
    padding: rem(10px);
    max-width: 235px;
    max-height: 320px;
  }
  .card__image {
    max-width: 210px;
    max-height: 200px;
  }
}

@media (max-width: 968px) {
  .cards__container {
    grid-template-columns: repeat(2, 1fr);
    gap: 40px 20px;
  }
}

@media (max-width: 595px) {
  .cards__container {
    grid-template-columns: 1fr;
    gap: 30px 15px;
  }
}
