@import '../../assets/styles/stack.scss';

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  font-size: 2rem;
  font-weight: 900;
  color: $color-button-bg;

  span {
    &:nth-child(1),
    &:nth-child(3) {
      margin: 0 0.5rem;
    }

    &:nth-child(2) {
      letter-spacing: -1em;
      overflow: hidden;
      display: inline-flex;
      animation: reveal 1.5s cubic-bezier(0.645, 0.045, 0.355, 1) infinite
        alternate;
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(1.1);
  }
}

@keyframes reveal {
  0%,
  100% {
    opacity: 0.5;
    letter-spacing: -1em;
  }
  50% {
    opacity: 1;
    letter-spacing: 0;
  }
}
