@import '../../assets/styles/stack.scss';

.choose {
  background: $color-explore-background;
  border-bottom: 2px solid $color-white;
}

.choose__container {
  @include container;
  display: flex;
  justify-content: space-between;
  padding-right: 0;
  padding-left: 0;
  margin-right: 0;
}

@media (max-width: 900px) {
  .choose__container {
    flex-direction: column;
    align-items: center;
  }
}
