@import "../../assets/styles/stack.scss";

.unleash {
  background: $color-explore-background;
}

.unleash__container {
  @include container;
  display: flex;
  justify-content: space-between;
  gap: rem(105px);
}

.unleashBlock {
  display: flex;
  flex-direction: column;
  gap: rem(45px);
}

.unleashList {
  &__title {
    font-size: $font-size-section-heading;
    color: $color-unleash-title;
    line-height: 1.20889;
    font-weight: 600;
    text-transform: capitalize;
    &_mark {
      color: $color-unleash-mark;
    }
  }
}

.unleash__listItemsBlock {
  display: flex;
  align-items: center;
  gap: rem(15px);
}

.unleash__list {
  display: flex;
  flex-direction: column;
  gap: rem(12px);
  &_item {
    line-height: 2;
    color: $color-unleash-list-icon;
    opacity: 0.7;
  }
}

.explore__button {
  @include button(179px);
  display: flex;
  align-items: center;
  gap: rem(12px);
  border-radius: rem(14px);
  font-family: "Poppins", sans-serif;
  max-width: 185px;
  margin-top: rem(25px);
  position: relative;
  overflow: hidden;
  transition: background-color 0.3s;
  &:hover {
    background: $color-gray-subtitle;
  }
  &:hover .next__icon {
    transform: translateX(rem(8px));
  }
}

.next__icon {
  transition: transform 0.3s;
}

.unleash__recentContainer {
  border-radius: 16px;
  width: 365px;
  height: 246px;
  box-shadow: 10px 10px 50px 0 rgba(20, 20, 22, 0.1);
  background: $color-white;
  padding: rem(25px);
  position: relative;
  bottom: 165px;
  z-index: 50;
  right: 215px;
}

@media (max-width: rem(1200px)) {
  .unleashList__title {
    font-size: $font-size-subtitle-large;
  }
  .icon {
    max-width: 16px;
    max-height: 16px;
  }
  .unleash__list_item {
    font-size: $font-size-card-subtitle;
  }
  .explore__button {
    max-height: rem(55px);
    font-size: $font-size-card-subtitle;
    justify-content: space-between;
  }
  .unleash__recentContainer {
    max-width: rem(385px);
    max-height: rem(235px);
    padding: 1rem;
    bottom: 165px;
    right: 130px;
  }
}
