@import '../../../assets/styles/stack.scss';

.container {
  background: $color-white;
  border-radius: rem(14px);
  border: 0.85px solid $color-button-bg;
}

.custom__select {
  &__control {
    cursor: pointer !important;
    padding: rem(8px) 0 !important;
    border: none !important;
    background: transparent !important;
    max-width: 120px !important;
    background: $color-button-bg !important;
    border-radius: rem(12px) !important;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    justify-content: center !important;
    gap: 0 !important;
  }
  &__single-value {
    max-width: 40px !important;
    color: $color-white !important;
  }
  &__indicator {
    cursor: pointer !important;
    color: $color-white !important;
    padding-left: 0 !important;
  }
  &__indicator-separator {
    color: $color-white !important;
    display: none !important;
  }
  &__value-container {
    max-width: 40px !important;
    padding-right: 0 !important;
  }
  &__option {
    &:hover {
      color: $color-white !important;
      background: $color-black !important;
    }
    &--is-focused {
      background: $color-black !important;
    }
    &--is-selected {
      background: $color-button-bg !important;
    }
  }
}
