@import '../../assets/styles/stack.scss';

.header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
}

.header__container {
  @include container;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  padding-right: rem(60px);
  &_image {
    height: auto;
  }
}

.header__nav > .header__nav_menu {
  display: flex;
  align-items: center;
  gap: rem(55px);
  padding-right: rem(120px);
}

.menu__listItem > .menu__listLink {
  font-weight: 500;
  font-size: $font-size-create-subtitle;
  color: $color-gray-dark;
}

.inputButton__items {
  display: flex;
  align-items: center;
  gap: rem(55px);
}

.search__input {
  display: flex;
  align-items: center;
  gap: rem(25px);
  width: 100%;
  padding-left: rem(25px);
  padding-right: rem(83px);
  max-width: rem(370px);
  height: 57px;
  background: $color-input-background;
  border-radius: rem(14px);
}

.input {
  display: flex;
  align-items: center;
  background: $color-input-background;
  border-radius: rem(14px);
  font-size: $font-size-placeholder;
  font-weight: 500;
  &::placeholder {
    width: 100%;
    color: $color-input-placeholder;
    font-family: 'Poppins', sans-serif;
    line-height: 1.175;
    letter-spacing: -0.02em;
    text-align: left;
  }
}

.connect__button {
  @include button;
}

.header__scrollActive {
  background: rgba(255, 255, 255, 0.9);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  transition: background 0.3s ease;
}

@media (max-width: rem(1170px)) {
  .header__container {
    padding-right: rem(25px);
    gap: rem(50px);
  }
  .header__logo {
    padding-right: 0;
  }

  .header__nav > .header__nav_menu {
    padding-right: 0;
  }
  .header__input {
    width: 100%;
  }
  .connect__button {
    padding: rem(10px);
    max-height: 50px;
    font-size: $font-size-card-subtitle;
  }
  .search__input {
    max-height: 50px;
    padding-left: rem(20px);
    padding-right: 0;
    &_icon {
      max-width: 19px;
      max-height: 19px;
    }
  }
  .input::placeholder {
    font-size: $font-size-bid-medium;
  }
  .inputButton__items {
    gap: rem(45px);
  }
  .menu__listItem > .menu__listLink {
    font-size: $font-size-base;
    font-weight: 600;
  }
}
