@import '../../assets/styles/stack.scss';

.header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
}

.header__container {
  position: relative;
  @include container;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  display: flex;
  align-items: center;
  gap: rem(10px);
  padding-right: rem(60px);
  &_image {
    height: auto;
    transition: transform 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
    &:hover {
      transform: scale(1.15);
    }
  }
}

.logo__title {
  font-weight: 600;
  line-height: 130%;
  font-size: $font-size-card-title;
}

.header__nav > .header__nav_menu {
  display: flex;
  align-items: center;
  gap: rem(55px);
  padding-right: rem(117px);
}
.menu__listItem {
  position: relative;
}

.menu__listItem > .menu__listLink {
  font-weight: 500;
  font-size: $font-size-create-subtitle;
  color: $color-gray-dark;
  transition: all 0.4s ease-in-out 0s;
  &::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -3px;
    width: 0;
    height: 2px;
    border-radius: 2px;
    background-color: $color-footer-border-bottom;
    transition:
      width 0.3s ease-in-out,
      opacity 0.3s ease-in-out,
      left 0.3s ease-in-out;
    transform: translateX(-50%);
  }
}

.menu__listItem > .menu__listLink:hover::after {
  opacity: 1;
  width: 100%;
}

.activeLink {
  font-weight: 600;
  font-size: $font-size-create-subtitle;
  color: $color-button-bg;
}

.inputButton__items {
  display: flex;
  align-items: center;
  gap: rem(30px);
}

.search__input {
  display: flex;
  align-items: center;
  gap: rem(25px);
  width: 100%;
  padding-left: rem(25px);
  padding-right: rem(83px);
  max-width: rem(370px);
  height: 57px;
  background: $color-input-background;
  border-radius: rem(14px);
}

.input {
  display: flex;
  align-items: center;
  background: transparent;
  border-radius: rem(14px);
  font-size: $font-size-placeholder;
  font-weight: 500;
  &::placeholder {
    width: 100%;
    color: $color-input-placeholder;
    font-family: 'Poppins', sans-serif;
    line-height: 1.175;
    letter-spacing: -0.02em;
    text-align: left;
  }
}

.connect__button {
  @include button(100%);
  font-size: $font-size-base;
}

.header__scrollActive {
  background: rgba(255, 255, 255, 0.9);
  box-shadow:
    rgba(0, 0, 0, 0.16) 0px 3px 6px,
    rgba(0, 0, 0, 0.23) 0px 3px 6px;
  transition: background 0.3s ease;
  animation: slideIn 0.5s forwards;
}

@keyframes slideIn {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slideOut {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}

.burger__button {
  background: transparent;
}

#burger__icon {
  width: 33px;
  height: 33px;
}

@media (max-width: rem(1295px)) {
  .connect__button {
    padding: rem(16px);
    font-size: $font-size-placeholder;
  }
  .search__input {
    max-width: rem(270px);
  }
}

@media (max-width: rem(1180px)) {
  .header__container {
    padding-right: rem(25px);
    gap: rem(50px);
  }
  .header__logo {
    padding-right: 0;
  }

  .header__nav > .header__nav_menu {
    padding-right: 0;
  }
  .header__input {
    width: 100%;
  }
  .connect__button {
    padding: rem(10px);
    max-height: 50px;
    font-size: $font-size-card-subtitle;
  }
  .search__input {
    max-height: 50px;
    padding-left: rem(20px);
    padding-right: 0;
    &_icon {
      max-width: 19px;
      max-height: 19px;
    }
  }
  .input::placeholder {
    font-size: $font-size-bid-medium;
  }
  .inputButton__items {
    gap: rem(45px);
  }
  .menu__listItem > .menu__listLink {
    font-size: $font-size-base;
    font-weight: 600;
  }
}

@media (min-width: 992px) {
  #burger__icon {
    display: none;
  }

  .logo__title {
    display: none;
  }
}

@media (max-width: rem(995px)) {
  .header__container {
    max-width: 888px;
    gap: rem(40px);
    padding: 31px 30px;
  }
  .header__logo_image {
    max-width: 37px;
    max-height: 37px;
  }
  .menu__listItem > .menu__listLink {
    font-size: $font-size-subtitle-small;
  }
  .inputButton__items {
    gap: rem(20px);
  }
  .search__input {
    max-height: 40px;
  }
  .connect__button {
    font-size: $font-size-subtitle-small;
    max-width: 150px;
    max-height: 40px;
    border-radius: 12px;
  }
  .header__nav {
    display: none;
  }
}

@include onTabletMedium {
  .search__input {
    display: none;
  }
  .menu__listItem > .menu__listLink {
    font-size: $font-size-base;
  }
}

@include onMobileLarge {
  .connect__button {
    display: none;
  }
  .header__container {
    padding-left: 33px;
    max-height: 65px;
  }
}

@include onMobile {
  .header__container::after {
    position: absolute;
    content: '';
    width: 86.2%;
    height: 0.5px;
    background: $color-header-border-bottom;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
  }
}
