@import '../../assets/styles/stack.scss';

.discover {
  min-height: 100vh;
}

.discover__container {
  @include container;
}


@media (max-width: 1440px) {
  .discover__container {
    padding-left: 70px;
    padding-right: 70px;
  };
}


@media (max-width: 720px) {
  .discover__container {
    padding-left: 10px;
    padding-right: 10px;
  };
}