@import '../../assets/styles/stack.scss';

.discover {
  background: $color-explore-background;
}

.productDetail {
  display: flex;
  flex-direction: column;
  gap: rem(100px);
  background: $color-explore-background;
}

.discover__container,
.productDetail {
  @include container;
}

@media (max-width: 1440px) {
  .discover__container {
    padding-left: 70px;
    padding-right: 70px;
  }
}

@media (max-width: 720px) {
  .discover__container {
    padding-left: 10px;
    padding-right: 10px;
  }
  .productDetail {
    padding-left: 35px;
    padding-right: 35px;
  }
}
