@import '../../assets/styles/stack.scss';

.weekly {
  background: $color-section-background;
  position: relative;
}

// .weekly__container {
//   // @include container;
// }

.weekly__titleBlock {
  display: flex;
  justify-content: center;
  align-items: center;
}

.weekly__title {
  padding-top: 70px;
  text-align: center;
  font-weight: 600;
  line-height: 0.59812;
  color: $color-gray-light;
  font-size: $font-size-section-heading;
}

.slider__buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: rem(90px);
}

.weekly__nftCardsContainer {
  padding: rem(120px) 0;
  overflow-x: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: rem(60px);
}

.card {
  width: 100%;
  max-width: 281px;
  height: 395px;
  padding: rem(20px);
  border-radius: rem(20px);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  background: $color-white;
}

.card__image {
  object-fit: cover;
  object-position: center;
  border-radius: rem(20px);
}

.card__titles {
  padding-top: rem(20px);
}

.card__title {
  font-size: $font-size-card-title;
  color: $color-button-bg;
  line-height: 1.4;
  font-weight: 600;
}

.card__information {
  display: flex;
  justify-content: space-between;
}

.card__information_titles {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card__subTitle {
  line-height: 1.5;
  letter-spacing: 0.01em;
  color: $color-card-subTitle;
}

.card__rating {
  display: flex;
  align-items: center;
  gap: rem(7px);
  color: $color-button-bg;
  line-height: 1.5;
  font-weight: 600;
}

.card__button {
  @include button;
  max-width: 121px;
  height: 51px;
}

.recent__container {
  border: 2px solid #edf2f7;
  border-radius: 16px;
  width: 365px;
  height: 246px;
  box-shadow: 10px 10px 50px 0 rgba(20, 20, 22, 0.1);
  background: $color-white;
  padding: rem(25px);
  position: absolute;
  bottom: -120px;
  right: 80px;
}
