@import "../../assets/styles/stack.scss";

.create {
  background: $color-explore-background;
  padding-bottom: rem(160px);
  padding-left: rem(85px);
  padding-right: rem(85px);
}

.create__container {
  background: $color-button-bg;
  @include container;
  height: 311px;
  padding: 31px 22px 31px 65px;
  border-radius: rem(30px);
  display: flex;
  justify-content: space-between;
}

.createInfo__block {
  display: flex;
  flex-direction: column;
  gap: rem(50px);
}

.createInfo__block_titles {
  display: flex;
  flex-direction: column;
  gap: rem(13px);
}

.createInfo__title {
  font-size: $font-size-section-heading;
  color: $color-white;
  font-weight: 600;
  line-height: 1.3;
  letter-spacing: 0.01em;
}

.createInfo__subTitle {
  color: $color-gray-alt;
  font-size: $font-size-create-subtitle;
  opacity: 0.7;
  font-weight: 500;
  line-height: 1.3;
  letter-spacing: 0.01em;
}

.createInfo__buttons {
  display: flex;
  align-items: center;
  gap: rem(31px);
}

.createInfo__buttonExplore {
  @include exploreButton;
  font-size: $font-size-card-title;
  color: $color-button-bg;
  background: $color-white;
  padding: 20px 25px;
  line-height: 1.3;
  letter-spacing: 0.01em;
  font-weight: 600;
  border-radius: rem(13px);
}

.createInfo__buttonSell {
  padding: 20px 30px;
  background: transparent;
  border: 2.29px solid $color-white;
  color: $color-white;
  border-radius: rem(13px);
  line-height: 1.3;
  letter-spacing: 0.01em;
  font-weight: 600;
  font-size: $font-size-card-title;
}

.bannerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 390px;
  height: 249px;
  border-radius: 8px;
}

.create__banner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  object-fit: cover;
  height: 100%;
  filter: blur(52.874610900878906px);
  z-index: 1;
  background: url("/images/exploreIcons/banner.svg") no-repeat center center;
  background-size: cover;
}

.banner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

@media (max-width: 1200px) {
  .create__banner {
    filter: blur(40px);
  }
  .createInfo__title {
    font-size: $font-size-subtitle-large;
  }
  .createInfo__subTitle {
    font-size: $font-size-base;
  }
  .createInfo__buttonExplore {
    padding: 16px 20px;
    font-size: $font-size-base;
    max-height: 50px;
  }
  .createInfo__buttonSell {
    padding: 14px 19px;
    font-size: $font-size-base;
    max-height: 50px;
  }
  .create__banner {
    max-width: 80%;
  }
  .banner {
    max-width: 88%;
  }
  .create__container {
    padding: 20px 22px 20px 65px;
    padding-bottom: 0;
    max-height: 280px;
  }
  .createInfo__block {
    gap: rem(65px);
  }
}

@include onTablet {
  .create__banner {
    filter: blur(30px);
  }
  .createInfo__title {
    font-size: $font-size-media-title;
  }

  .create__banner {
    max-width: 70%;
  }
  .banner {
    max-width: 70%;
  }
  .create__container {
    padding-top: 31px;
    align-items: center;
  }
  .bannerContainer {
    left: 100px;
  }
  .createInfo__block_titles {
    gap: rem(8px);
  }
  .createInfo__block {
    position: relative;
    bottom: 20px;
    gap: rem(35px);
  }
  .createInfo__buttonExplore {
    padding: 14px 12px;
    font-size: $font-size-placeholder;
  }
  .createInfo__buttonSell {
    padding: 14px 11px;
    font-size: $font-size-placeholder;
  }
}

@include onTabletMedium {
  .create {
    @include tabletContainerPaddings;
  }
  .create__container {
    padding-top: 0;
    padding-left: 30px;
    padding-right: 30px;
    flex-direction: column;
    max-height: 300px;
  }
  .bannerContainer {
    left: 60px;
    height: 100%;
  }
  .createInfo__block {
    align-items: center;
  }
  .createInfo__block_titles {
    align-items: center;
  }
  .createInfo__title {
    padding-top: 30px;
  }
  .create__banner {
    position: relative;
    left: -65px;
    height: 100%;
  }

  .banner {
    width: 100%;
    height: 170%;
  }
}

@media (max-width: 768px) {
  .create__banner {
    filter: blur(20px);
  }
  .createInfo__buttonSell {
    padding: 13px 11px;
  }
}

@media (max-width: 576px) {
  .create__banner {
    filter: blur(10px);
  }
  .bannerContainer {
    max-width: 300px;
  }
}

@include onMobile {
  .createInfo__title {
    font-size: 1.8rem;
  }
}

@media (max-width: 375px) {
  .create__banner {
    filter: blur(5px);
  }
}
