@import '../../assets/styles/stack.scss';

.footer {
  background: $color-button-bg;
}

.footer__container {
  @include container;
  margin-bottom: rem(100px);
}

.footer__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: rem(95px);
  padding-bottom: rem(25px);
  border-bottom: 1px solid $color-footer-border-bottom;

  &__logo {
    display: flex;
    align-items: center;
    gap: rem(12px);
  }

  &__title {
    font-size: $font-size-footer-title;
    color: $color-white;
    font-weight: 600;
    line-height: 1.3;
  }
}

.nav {
  &__menu {
    display: flex;
    align-items: center;
    gap: rem(70px);
  }

  &__menu_listLink {
    font-family: 'Inter', sans-serif;
    color: $color-gray-footer-nav;
    font-size: $font-size-link;
    text-transform: capitalize;
    line-height: 0.15;
    font-weight: 500;
    transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
  }
}

.footer__socialMedias_listItem {
  position: relative;
}

.footer__socialMedias_listLink::after {
  content: '';
  position: absolute;
  left: 25px;
  bottom: -1px;
  width: 0;
  height: 1.5px;
  border-radius: 2px;
  background-color: $color-white;
  transition:
    width 0.3s ease-in-out,
    opacity 0.3s ease-in-out,
    transform 0.3s ease-in-out;
  transform: translateX(0%);
  opacity: 0;
}

.footer__socialMedias_listLink:hover::after {
  width: 80%;
  opacity: 1;
  transform: translateX(0%);
}

.footer__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: rem(71.92px);
  padding-bottom: rem(80px);

  &_copyright {
    font-family: 'Inter', sans-serif;
    color: $color-footer-copyright;
    line-height: 1.47059;
    font-weight: 600;
    font-size: $font-size-link;
  }
}

.footer__socialMedias {
  display: flex;
  align-items: center;
  gap: rem(60px);

  &_listLink {
    display: flex;
    align-items: center;
    gap: rem(10px);
    color: $color-white;
    font-weight: 600;
  }
}

@media (max-width: rem(1200px)) {
  .footer__logo {
    max-width: 53px;
    max-height: 53px;
  }

  .footer__top__title {
    font-size: $font-size-card-title;
  }

  .nav__menu_listLink {
    font-size: $font-size-base;
  }

  .footer__socialMedias_listLink {
    font-size: $font-size-card-subtitle;
  }

  .social__icon {
    max-width: 20px;
    max-height: 20px;
  }
}

@media (min-width: 650px) {
  .footer__top_social {
    display: none;
  }
}

@include onTablet {
  .footer__top {
    padding-top: rem(50px);
    gap: rem(25px);
    flex-direction: column;
    align-items: flex-start;
  }

  .footer__bottom {
    margin-top: rem(45px);
    gap: rem(20px);
    flex-direction: column-reverse;
    align-items: flex-start;
    padding-bottom: rem(50px);
  }
}

@media (max-width: 680px) {
  .footer__container {
    padding-left: 30px;
    padding-right: 30px;
  }

  .footer__top {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    row-gap: rem(50px);
  }

  .nav__menu_listLink {
    font-size: $font-size-subtitle;
  }

  .nav__menu {
    flex-direction: column;
    gap: rem(30px);
    align-items: flex-start;
  }

  .footer__top_social {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: rem(20px);
  }

  .footer__socialMedias {
    display: none;
  }

  .footer__bottom {
    align-items: center;
  }
}

@include onMobile {
  .nav__menu_listLink {
    font-weight: 600;
    font-size: $font-size-card-subtitle;
  }

  .footer__bottom_copyright {
    font-size: $font-size-card-subtitle;
  }

  .footer__container {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .social__icon {
    max-width: 20px;
    max-height: 20px;
  }

  .footer__logo {
    max-width: 33px;
    max-height: 33px;
  }
}

@media (max-width: 320px) {
  .footer__container {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
