@import '../../../assets/styles/stack.scss';

.upButton {
  position: fixed;
  bottom: 20px;
  right: 13px;
  width: 30px;
  height: 30px;
  display: none;
  z-index: 2;
  background: $color-button-bg;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  transition:
    opacity 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275),
    transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-transition:
    opacity 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275),
    transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  border-radius: 100%;
  transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s;
  animation: ButtonZoom 1s infinite alternate;
  transform: scale(1);
}

.arrow__top {
  position: relative;
  top: 2px;
}


.upButton::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}


.upButton::before {
  content: 'Scroll to Up!';
  display: flex;
  font-size: $font-size-subtitle-small;
  justify-content: center;
  align-items: center;
  border-radius: rem(5px);
  color: $color-white;
  left: -50px;
  width: 85px;
  padding: 5px 10px;
  background: $color-button-bg;
  display: none;
}

.upButton:hover::before {
  display: block;
}

.upButton.show {
  opacity: 1;
  transform: scale(1.3);
}

@keyframes ButtonZoom {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.3);
  }
}