@import "../../assets/styles/stack.scss";

.profile {
   min-height: 100vh;
}

.profile__container {
   @include container;
}

.profile__banner {
   background: url("/images/profile/profile-banner.svg");
   width: 100%;
   max-width: 1200px;
   height: 355px;
   background-size: cover;
   margin: 0 auto;
}
