$color-gray-dark: #606060;
$color-button-bg: #141416;
$color-border-top-dark: #201f1f;
$color-gray-subtitle: #676767;
$color-white: #fff;
$color-black: #000;
$color-gray-light-alt: #848586;
$color-gray-light: #c5c5c5;
$color-shadow-card: 0 5px 14px 0 rgba(28, 29, 32, 0.08);
$color-bg-card: rgba(28, 29, 32, 0.35);
$color-gray-collection: #93989a;
$color-green-light: #10c352;
$color-red-light: #e23333;
$color-gray-medium: #e6e8ec;
$color-gray-footer-nav: #b9b9b9;
$color-gray-footer-copyright: #999;
$color-gray-alt: #d4d4d4;
$color-input-background: #ededed;
$color-input-placeholder: #c2c3cb;
$color-search-icon: #9d9d9d;
$color-slider-buttons-background: #fcfcfd;
$color-section-background: #f1f1f1;
$color-card-subTitle: #94a3b8;
$color-recent-title: #1a202c;
$color-footer-border-bottom: #818181;
$color-footer-copyright: #999;
$color-table-border-bottom: #ebe9e9;
$color-table-subTitle: #64748b;
$color-explore-button: #acadb9;
$color-explore-background: #f9f9f9;
$color-unleash-title: #18181b;
$color-unleash-mark: #c5c5c5;
$color-unleash-list-icon: #12141d;
$color-bestSellers-border: #edf2f7;
$color-circle: #23262f;
$color-circle-number: #fcfcfd;
$color-bestSellers-subTitle: #777e90;
$color-bestSellers-button-border: #e6e8ec;
$color-notification-title: #949494;
$color-community-title: #18181b;
$color-asked-list-title: #323142;
$color-header-border-bottom: #cbcbcb;
$color-title-decoration: #201f1f;
$color-background: #fafafa;
$color-details-title: #292b39;
$color-details-gray-title: #8d8d8d;
$color-current-bid-title: #8c8c8c;
$color-likes-counter: #888;
$color-creator-title: #c3c3c3;
$color-profile-title: #010101;
$color-profile-border-bottom: #d0d0d0;
$color-dark-green: #14a760;
$color-subTitle-gray: #d2d2d2;
$color-price-title-gray: #828282;
$color-input-background-create: #efefef;
$color-input-placeholder-create: #9596a6;
$color-border-decoration: #dadada;
