$color-gray-dark: #606060;
$color-button-bg: #141416;
$color-border-top-dark: #201f1f;
$color-gray-subtitle: #676767;
$color-white: #fff;
$color-black: #000;
$color-gray-light-alt: #848586;
$color-gray-light: #c5c5c5;
$color-shadow-card: 0 5px 14px 0 rgba(28, 29, 32, 0.08);
$color-bg-card: rgba(28, 29, 32, 0.35);
$color-gray-collection: #93989a;
$color-green-light: #10c352;
$color-red-light: #e23333;
$color-gray-medium: #e6e8ec;
$color-gray-footer-nav: #b9b9b9;
$color-gray-footer-copyright: #999;
$color-gray-alt: #d4d4d4;
$color-input-background: #ededed;
$color-input-placeholder: #c2c3cb;
$color-search-icon: #9d9d9d;
$color-slider-buttons-background: #fcfcfd;
$color-section-background: #f1f1f1;
$color-card-subTitle: #94a3b8;
$color-recent-title: #1a202c;
$color-footer-border-bottom: #818181;
$color-footer-copyright: #999;
$color-table-border-bottom: #ebe9e9;
$color-table-subTitle: #64748b;