@import '../styles/functions.scss';

$font-size-subtitle-small: rem(12px);
$font-size-placeholder: rem(15px);
$font-size-base: rem(16px);
$font-size-link: rem(17px);
$font-size-subtitle: rem(18px);
$font-size-heading: rem(75px);
$font-size-subtitle-large: rem(36px);
$font-size-section-heading: rem(45px);
$font-size-card-title: rem(21px);
$font-size-card-subtitle: rem(14px);
$font-size-collection-subtitle: rem(22px);
$font-size-collection-card-title: rem(28px);
$font-size-collection-card-volume: rem(24px);
$font-size-create-subtitle: rem(20px);
$font-size-footer-title: rem(29px);
$font-size-circle-small: rem(10px);
$font-size-bid-medium: rem(13px);
$font-size-list-title: rem(25px);

$font-size-media-hero-heading: rem(50px);
$font-size-media-title: rem(32px);
$font-size-hero-title: rem(53px);
$font-size-explore-button-tablet: rem(11px);
$font-size-features-title-tablet: rem(26px);
$font-size-features-subTitle-tablet: rem(8px);
$font-size-product-title: rem(51px);
$font-size-product-subTitle: rem(19px);
$font-size-detail-title: rem(25px);
$font-size-discover-nav-button: rem(10px);
$font-size-stats-title: rem(29px);