@mixin container() {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 95px;
}

@mixin heroContainer() {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding-left: rem(100px);
}

@mixin button($width: 179px) {
  width: $width;
  padding: 0.8em 1.2em;
  border-radius: 0.8em;
  font-family: inherit;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.05em;
  border: none;
  cursor: pointer;
  overflow: hidden;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

@mixin secondaryButton() {
  padding: 18px 21px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: $color-black;
  border: 1.5px solid $color-black;
  border-radius: 12px;
  background: transparent;
}

@mixin tableRowItem() {
  font-weight: 600;
  line-height: 1.5;
  color: $color-button-bg;
  font-size: $font-size-collection-card-volume;
}

@mixin exploreButton() {
  font-size: $font-size-link;
  color: $color-explore-button;
  background: transparent;
  font-weight: 500;
  line-height: 2.25921;
  letter-spacing: -0.01em;
  margin-bottom: -2px;
}

@mixin tabletContainerPaddings() {
  padding-left: 30px;
  padding-right: 30px;
}
