@import '../../../assets/styles/colors.scss';
@import '../../../assets/styles/globals.scss';
@import '../../../assets/styles/functions.scss';

.burgerButton__wrapper {
  height: 30px;
  background: transparent;
}

.burgerContainer > .burgerButton__wrapper > .buttonLine {
  display: block;
  width: 30px;
  height: 3px;
  background: $color-asked-list-title;
  border-radius: 2rem;
  position: relative;
  &::before {
    position: absolute;
    bottom: 5px;
    content: '';
    display: block;
    width: 30px;
    height: 3px;
    background: $color-asked-list-title;
    border-radius: 2rem;
  }
  &::after {
    position: absolute;
    bottom: -5px;
    content: '';
    display: block;
    width: 30px;
    height: 3px;
    background: $color-asked-list-title;
    border-radius: 2rem;
  }
}


@media (min-width: 995px) {
    .burgerButton__wrapper {
        display: none;
    }
}