@import '../../assets/styles/stack.scss';

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 5rem 3.75rem;
  justify-items: center;
  margin-bottom: 7.5rem;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 30px 15px 80px 0 rgba(191, 191, 191, 0.6);
  background: #f2f2f2;
  border-radius: 1.5625rem;
  width: 100%;
  max-width: 370px;
  height: 537px;
}

.cardImage__block {
  position: relative;
}

.backgroundImage {
  width: auto;
  max-width: 100%;
  border-radius: 1.5625rem;
}

.mainImage {
  width: auto;
  position: absolute;
  left: 37%;
  top: 66%;
}

.cardInfo {
  display: flex;
  align-items: center;
  gap: rem(15px);
  &__title {
    font-weight: 600;
    line-height: 142%;
    color: $color-button-bg;
    font-size: $font-size-collection-subtitle;
  }
}

.infoList {
  margin-top: rem(17px);
  padding: 0 rem(25px);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &__title {
    font-weight: 500;
    font-size: $font-size-link;
    line-height: 144%;
    text-align: center;
    color: $color-button-bg;
  }
  &__subTitle {
    font-size: $font-size-subtitle-small;
    line-height: 123%;
    text-transform: capitalize;
    text-align: center;
    color: $color-price-title-gray;
  }
}

.titles {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gallery {
  margin-top: rem(30px);
  display: flex;
  align-items: center;
  gap: rem(15px);
}

.galleryImage {
  width: 100%;
  object-fit: cover;
}

@media (max-width: 1300px) {
  .cards {
    column-gap: rem(30px);
  }
  .card {
    max-width: 263px;
    max-height: 385px;
    border-radius: rem(18px);
  }
  .mainImage {
    max-width: 75px;
    max-height: 75px;
  }

  .cardInfo {
    gap: rem(10px);
  }

  .cardInfo__title {
    font-size: $font-size-base;
  }

  .checkedIcon {
    max-width: 16px;
    max-height: 16px;
  }
  .titles {
    gap: rem(3px);
  }

  .mainImage {
    left: 35%;
    top: 62%;
  }
  .backgroundImage {
    max-height: 200px;
  }
  .galleryImage {
    max-width: 72px;
    max-height: 72px;
  }
  .infoList {
    &__title {
      display: flex;
      align-items: center;
      gap: rem(3px);
      font-size: $font-size-subtitle-small;
    }
    &__subTitle {
      font-size: $font-size-discover-nav-button;
    }
  }
  .ethereumIcon {
    max-width: 9px;
    max-height: 14px;
  }
}
